#signin-form {
  transform: translate(0, 15%);
  width: fit-content;
}

input {
  background-color: white;
  color: black;
}

input::placeholder {
  color: gray;
}

#signin-form #submit-form {
  background: #bdbdbd;
  background-image: linear-gradient(298deg, #001fffba, #0250ff4a);
  transition: 0.2s;
}

#submit-form:hover,
#submit-form:focus {
  background: #001fffba;
  background: linear-gradient(298deg, #bdbdbd, #0250ff4a) !important;
}
