@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(89deg, #4E65FF 0%, #92EFFD 100%); */
  background-color: #4158D0;
  background-image: linear-gradient(227deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}